@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

#menu-g .mbr-brand__name {
  font-size: 16px;
}
#menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-g .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-g .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
}


#menu-r .mbr-brand__name {
  font-size: 16px;
}
#menu-r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-r .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
}
#msg-box3-t .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
#msg-box3-t .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-t .mbr-article P {
  text-align: center;
}

#menu-i .mbr-brand__name {
  font-size: 16px;
}
#menu-i.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-i .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-i .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
}
#contacts1-q P {
  text-align: center;
}

#menu-l .mbr-brand__name {
  font-size: 16px;
}
#menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-l .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-l .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
}

#menu-o .mbr-brand__name {
  font-size: 16px;
}
#menu-o.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-o .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-o .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
}
