@import url(https://fonts.googleapis.com/css?family=Indie+Flower);


#menu-g .mbr-brand__name {
  font-size: 16px;
}
#menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #f5eaff;
}
#menu-g .mbr-navbar__hamburger {
  color: #f5eaff;
}
#menu-g .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
#content4-11 P {
  text-align: center;
  color: #000000;
}
#content4-11 .mbr-section__col .mbr-header__text {
  color: #27aae0;
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
}


#menu-r .mbr-brand__name {
  font-size: 16px;
}
#menu-r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-r .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
#msg-box3-t .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
#msg-box3-t .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-t .mbr-article P {
  text-align: center;
}

#menu-i .mbr-brand__name {
  font-size: 16px;
}
#menu-i.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-i .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-i .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
#content4-13 P {
  text-align: center;
}

#menu-l .mbr-brand__name {
  font-size: 16px;
}
#menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-l .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-l .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}

#menu-o .mbr-brand__name {
  font-size: 16px;
}
#menu-o.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-o .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-o .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
